#PORT
PORT=8080

# Database configuration
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=db_go_auth_api

#JWT
JWT_SECRET=SangatRahasiaPudinSaepudin123!
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=168h

#PRODUCTION
# GIN_MODE=release